<<<<<<< HEAD
input{
    width: 100%;
}

button{
    background-color: rgb(7, 63, 248);
    color: white;
}

table{
    width: 100%;
}
td,th{
    text-align: left;
    width: 33.5%;
    border-bottom: 1px solid rgb(161, 160, 159);
=======
input{
    width: 100%;
}

button{
    background-color: rgb(7, 63, 248);
    color: white;
}

table{
    width: 100%;
}
td,th{
    text-align: left;
    width: 33.5%;
    border-bottom: 1px solid rgb(161, 160, 159);
>>>>>>> 70a1007e90fe36b5cee7eb1125c791b282f231c5
}