<<<<<<< HEAD
@charset "ISO-8859-1";
h2{
	text-decoration: line-through;
}
h3{
	text-decoration: underline;
}
body {
	 background-color: lightblue;
=======
@charset "ISO-8859-1";
h2{
	text-decoration: line-through;
}
h3{
	text-decoration: underline;
}
body {
	 background-color: lightblue;
>>>>>>> 70a1007e90fe36b5cee7eb1125c791b282f231c5
}