<<<<<<< HEAD
@charset "ISO-8859-1";
p.p1{
	border: 10px solid black;
	background-color: lightblue;
	
}
p.p2{
	border: 5px solid black;
	background-color: lightblue;
}
p.p3{
	border: 1px solid black;
	background-color: lightblue;
=======
@charset "ISO-8859-1";
p.p1{
	border: 10px solid black;
	background-color: lightblue;
	
}
p.p2{
	border: 5px solid black;
	background-color: lightblue;
}
p.p3{
	border: 1px solid black;
	background-color: lightblue;
>>>>>>> 70a1007e90fe36b5cee7eb1125c791b282f231c5
}